<div *ngIf="!isLogged">
  <p-dialog [(visible)]="display" [closable]="false" [closeOnEscape]="false" [modal]="true"
            [responsive]="true">
    <p-header>
      {{'LOGIN.FORMULARIO.TITULO' | translate }}
    </p-header>
    <br>
    <div [formGroup]="userForm">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-12 pd_top_1">
              <span class="ui-float-label">
                <input formControlName="username" id="username" maxlength="50" minlength="1" pInputText
                       type="text">
                <label for="username">{{ 'LOGIN.FORMULARIO.USUARIO' | translate }}
                  <font color="red">*</font>
                </label>
              </span>
        </div>
        <div class="ui-g-12 ui-md-12 pd-top-2">
              <span class="ui-float-label">
                <input formControlName="password" id="password" maxlength="50" minlength="1" pInputText
                       type="text">
                <label for="password">{{ 'LOGIN.FORMULARIO.PASSWORD' | translate }}
                  <font color="red">*</font>
                </label>
              </span>
        </div>
      </div>
      <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-7"></div>
        <div class="ui-g-12 ui-md-5 pd-top-2" fxLayoutAlign="end">
          <button (click)="validar()" [disabled]="!userForm.valid"
                  class="ui-button" icon="pi pi-check" id="createRegistro"
                  label="{{'LOGIN.BOTONERA.INICIAR_SESSION' | translate}}" pButton>
          </button>
        </div>
      </div>
    </div>
  </p-dialog>
</div>

<div *ngIf="isLogged">
  <!-- Aquí va el código que representa el perfil del usuario -->
  <div fxLayout="row" fxLayoutAlign="start center">
    <!-- Agrega aquí el código que representa el perfil del usuario -->
    <span class="user-name">{{ user.empleado.nombre }} {{ user.empleado.apellidos }}</span>
    <button (click)="cerrar()" class="ui-button" icon="pi pi-sign-out pi-button-icon-right"
            label="{{'LOGIN.BOTONERA.CERRAR_SESSION' | translate}}" pButton>
    </button>
  </div>
</div>

