<div class="panel-container">
  <h4>{{ 'CATEGORIAS.TITULO' | translate }}</h4>
  <p-panel>
    <p-header>
      <div>
        <span class="ui-panel-title">{{ 'COMUN.PANEL.FILTROS' | translate }}</span>
      </div>
    </p-header>
    <div class="height-25em"></div>
    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-4">
    <span class="ui-float-label">
      <input [(ngModel)]="filtro.nombre" id="textoFiltro" pInputText size="30" type="text">
        <label for="textoFiltro">{{ 'CATEGORIAS.FILTROS.NOMBRE_CATEGORIA' | translate }}</label>
    </span>
      </div>
      <div class="ui-g-12 ui-md-2">
      <span class="ui-float-label" style="margin-top: 4px;">
        <p-checkbox [(ngModel)]="filtro.verInactivos" [binary]="true"
                    label="{{ 'CATEGORIAS.FILTROS.VER_INACTIVOS' | translate }}" name="verInactivos">
        </p-checkbox>
      </span>
      </div>
    </div>
  </p-panel>

  <!-- BOTONERA DE ACCIONES -->
  <p-toolbar>
    <div fxFlex fxLayout="row" fxLayoutGap="5px">
      <p-button (onClick)="nuevoRegistro()"
                label="{{ 'COMUN.ACCION.NUEVO' | translate }}" styleClass="ui-button-info">
      </p-button>
      <p-button (onClick)="editarRegistro()"
                [disabled]="!(registroSeleccionado && registroSeleccionado.vigenciaString === 'Activo')"
                label="{{ 'COMUN.ACCION.EDITAR' | translate }}"
                styleClass="ui-button-info"></p-button>
      <p-button (onClick)="verRegistro()" [disabled]="!registroSeleccionado"
                label="{{ 'COMUN.ACCION.VER' | translate }}"
                styleClass="ui-button-info"></p-button>
      <p-button (onClick)="confirmarActivarRegistro()"
                [disabled]="!(registroSeleccionado && registroSeleccionado.vigenciaString === 'Inactivo')"
                label="{{ 'COMUN.ACCION.ACTIVAR' | translate }}"
                styleClass="ui-button-info">
      </p-button>
      <p-button (onClick)="confirmarDesactivarRegistro()"
                [disabled]="!(registroSeleccionado && registroSeleccionado.vigenciaString === 'Activo')"
                label="{{ 'COMUN.ACCION.DESACTIVAR' | translate }}"
                styleClass="ui-button-info">
      </p-button>
      <p-button (onClick)="confirmarEliminarRegistro()"
                [disabled]="!registroSeleccionado" label="{{ 'COMUN.ACCION.ELIMINAR' | translate }}"
                styleClass="ui-button-info"></p-button>
    </div>

    <div fxLayoutGap="5px" style="text-align: right;">
      <p-button (onClick)="filtrar()" icon="pi pi-search" label="{{ 'COMUN.ACCION.BUSCAR' | translate }}"
                styleClass="ui-button-info">
      </p-button>
      <p-button (onClick)="resetFiltros()" label="{{ 'COMUN.ACCION.LIMPIAR' | translate }}" styleClass="ui-button-info">
      </p-button>
    </div>
  </p-toolbar>
  <app-categorias-table #categoriasTable (onColumnSelect)="columnaSeleccionada($event)"
                        (onLazyLoad)="cargarRegistrosTabla($event)"
                        (onRowSelect)="seleccionarRegistro($event)"
                        [colsCategorias]="colsCategorias"
                        [isLoading]="isLoading"
                        [page]="page" [selectedColumnsCategoria]="selectedColumnsCategoria">
  </app-categorias-table>

  <p-confirmDialog acceptLabel="{{ 'COMUN.ACCION.SI' | translate }}" appendTo="body" icon="pi pi-exclamation-triangle"
                   rejectLabel="{{ 'COMUN.ACCION.NO' | translate }}">
  </p-confirmDialog>

  <!-- Formulario de registro y actualización -->
  <p-dialog [(visible)]="displayNuevo" [focusTrap]="false" [responsive]="true" [style]="{ width: '50em',
  minWidth: '35em', maxHeight: '95%'}" appendTo="body" modal="true" positionTop="10" (onHide)="cerrarPopUp()" >
    <p-fieldset>
      <p-header style="margin-left: -15px">
        {{textoTituloNuevoEditar}}
      </p-header>
      <div [formGroup]="nuevaCategoriaForm">
        <div class="ui-g ui-fluid">
          <div class="ui-g-12 ui-md-12 pd_top_1">
              <span class="ui-float-label">
                <input formControlName="nombre" id="nombre" maxlength="100" minlength="1" pInputText
                       type="text">
                <label for="nombre">{{ 'CATEGORIAS.DETAIL.NOMBRE_CATEGORIA' | translate }}
                  <font color="red">*</font>
                </label>
              </span>
          </div>
          <div class="ui-g-12 ui-md-12">
              <span class="ui-float-label">
                <p-checkbox [binary]="true" formControlName="vigencia"
                            label="{{ 'CATEGORIAS.DETAIL.VIGENCIA_CATEGORIA' | translate }}" name="verInactivos">
                </p-checkbox>
              </span>
          </div>
          <div class="ui-g-12 ui-md-12">
            <p-fileUpload name="file[]" accept="image/*" maxFileSize="2000000" [showUploadButton]="false" [showCancelButton]="false"
                          (onSelect)="onFileSelect($event)">
            </p-fileUpload>
          </div>
        </div>
        <div class="ui-g ui-fluid">
          <div *ngIf="!view" class="pd-top-2" fxLayoutAlign="center">
            <button (click)="createUpdateRegistro()" [disabled]="!nuevaCategoriaForm.valid"
                    class="ui-button" icon="pi pi-check" id="createRegistro"
                    label="{{textoBotonNuevoEditar}}" pButton style="margin-left: 7%">
            </button>
            <button (click)="displayNuevo = false" class="ui-button ui-button-secondary" icon="pi pi-times"
                    label="{{ 'CATEGORIAS.DETAIL.CANCELAR_CATEGORIA' | translate }}"
                    pButton
                    style="margin-left: 5%"
                    type="button">
            </button>
          </div>
        </div>
        <div class="ui-g ui-fluid">
          <div *ngIf="view" class="pd-top-2" fxLayoutAlign="end">
            <button (click)="displayNuevo = false;
            this.nuevaCategoriaForm.reset(); this.view = false;" class="ui-button ui-button-secondary"
                    icon="pi pi-times" label="{{ 'CATEGORIAS.DETAIL.CANCELAR_CATEGORIA' | translate }}"
                    pButton
                    style="margin-left: 5%"
                    type="button">
            </button>
          </div>
        </div>
      </div>
    </p-fieldset>
  </p-dialog>
</div>
