<div class="panel-container">
  <h4>{{ 'CATEGORIAS.TITULO' | translate }}</h4>
  <p-panel>
    <p-header>
      <div>
        <span class="ui-panel-title">{{ 'COMUN.PANEL.FILTROS' | translate }}</span>
      </div>
    </p-header>
    <div class="height-25em"></div>
    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-4">
    <span class="ui-float-label">
      <input [(ngModel)]="filtro.nombre" id="textoFiltro" pInputText size="30" type="text">
        <label for="textoFiltro">{{ 'CATEGORIAS.FILTROS.NOMBRE_CATEGORIA' | translate }}</label>
    </span>
      </div>
      <div class="ui-g-12 ui-md-2">
      <span class="ui-float-label" style="margin-top: 4px;">
        <p-checkbox [(ngModel)]="filtro.verInactivos" [binary]="true"
                    label="{{ 'CATEGORIAS.FILTROS.VER_INACTIVOS' | translate }}" name="verInactivos">
        </p-checkbox>
      </span>
      </div>
    </div>
  </p-panel>

  <!-- BOTONERA DE ACCIONES -->
  <p-toolbar>
    <div fxFlex fxLayout="row" fxLayoutGap="5px">
      <p-button (onClick)="nuevoRegistro()"
                label="{{ 'COMUN.ACCION.NUEVO' | translate }}" styleClass="ui-button-info">
      </p-button>
      <p-button (onClick)="editarRegistro()"
                [disabled]="!(registroSeleccionado && registroSeleccionado.vigencia === 'SI')"
                label="{{ 'COMUN.ACCION.EDITAR' | translate }}"
                styleClass="ui-button-info"></p-button>
      <p-button (onClick)="verRegistro()" [disabled]="!registroSeleccionado"
                label="{{ 'COMUN.ACCION.VER' | translate }}"
                styleClass="ui-button-info"></p-button>
      <p-button (onClick)="confirmarActivarRegistro()"
                [disabled]="!(registroSeleccionado && registroSeleccionado.vigencia === 'NO')"
                label="{{ 'COMUN.ACCION.ACTIVAR' | translate }}"
                styleClass="ui-button-info">
      </p-button>
      <p-button (onClick)="confirmarDesactivarRegistro()"
                [disabled]="!(registroSeleccionado && registroSeleccionado.vigencia === 'SI')"
                label="{{ 'COMUN.ACCION.DESACTIVAR' | translate }}"
                styleClass="ui-button-info">
      </p-button>
      <p-button (onClick)="confirmarEliminarRegistro()"
                [disabled]="!registroSeleccionado" label="{{ 'COMUN.ACCION.ELIMINAR' | translate }}"
                styleClass="ui-button-info"></p-button>
    </div>

    <div fxLayoutGap="5px" style="text-align: right;">
      <p-button (onClick)="filtrar()" icon="pi pi-search" label="{{ 'COMUN.ACCION.BUSCAR' | translate }}"
                styleClass="ui-button-info">
      </p-button>
      <p-button (onClick)="resetFiltros()" label="{{ 'COMUN.ACCION.LIMPIAR' | translate }}" styleClass="ui-button-info">
      </p-button>
    </div>
  </p-toolbar>
  <app-categorias-table #categoriasTableComponent (onColumnSelect)="columnaSeleccionada($event)" (onLazyLoad)="cargarRegistrosTabla($event)"
                        (onRowSelect)="seleccionarRegistro($event)"
                        [colsCategorias]="colsCategorias"
                        [isLoading]="isLoading"
                        [page]="page" [selectedColumnsCategoria]="selectedColumnsCategoria">
  </app-categorias-table>
</div>
