.container-header {
  border-bottom: 1px solid #c8102e;
}
.header-app-nom a {
  margin-left: -70px;
  color: #c70f2d;
  text-decoration: none;
}
.linea-roja-separacion {
  border-left: 2px solid;
  width: 2px;
  height: 45px;
  color: #c70f2d;
  float:left;
  margin: 0.3em
}
@media ( min-width : 960px) {
  .container-header {
    padding-right: 10px;
    padding-left: 10px;
    background: #fff;
    border-bottom: 1px solid #c8102e;
  }
}
.dropdown-container {
  overflow-x: hidden;
}

