<div class="container-header">
  <mat-toolbar class="header">
    <a href="https://www.gva.es/va/inicio/presentacion" target="_blank">
      <img src="assets/images/logo.png" height="50">
    </a>
    <div class="linea-roja-separacion"></div>
    <div class="width-0-5em"></div>
    <span fxShow="true" fxFlex class="two-lines">
      {{ 'MENU.AMBITO' | translate }}<br />
    </span>
    <div fxFlex class="header-app-nom">
      <a class="color-rojo" href="/"> {{ 'TITLE' | translate }}</a>
    </div>
  </mat-toolbar>
</div>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SISTVENT</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/inicio" routerLinkActive="active"
             [routerLinkActiveOptions]="{ exact: true }">
            {{ 'MENU.NAVBAR.INICIO' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/categorias" routerLinkActive="active"
             [routerLinkActiveOptions]="{ exact: true }">
            {{ 'MENU.NAVBAR.CATEGORIA' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{{ 'MENU.NAVBAR.PRODUCTOS' | translate }}</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ 'MENU.MANTENIMIENTO.MANTENIMIENTO' | translate }}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">{{ 'MENU.MANTENIMIENTO.MARCAS' | translate }}</a></li>
            <li><a class="dropdown-item" href="#">{{ 'MENU.MANTENIMIENTO.VENTAS' | translate }}</a></li>
            <li><a class="dropdown-item" href="#">{{ 'MENU.MANTENIMIENTO.REPORTES_VENTAS' | translate }}</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ 'MANUAL.TITLE' | translate }}
            <i class="bi bi-file-earmark-pdf"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#">{{ 'MANUAL.M_USER' | translate }}<img src="assets/images/pdf.png" alt="Manual PDF" class="icono-personalizado"></a></li>
            <li><a class="dropdown-item" href="#">{{ 'MANUAL.M_INC' | translate }}<img src="assets/images/pdf.png" alt="Manual PDF" class="icono-personalizado"></a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ 'LANG.TITLE' | translate }}
            <i class="bi bi-translate"></i></a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" *ngFor="let lang of langs" (click)="setLang(lang)">
              {{ 'LANG.'+(lang | uppercase) | translate }}
              <ng-container *ngIf="lang === 'es'" class="icono-container">
                <img src="assets/images/spain.png" alt="Icono ES" class="icono-personalizado">
              </ng-container>
              <ng-container *ngIf="lang === 'en'" class="icono-container">
                <img src="assets/images/united-states.png" alt="Icono EN" class="icono-personalizado">
              </ng-container></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
